*{
    box-sizing: border-box;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body{
    background-color: #E1D9D1;
}

.wrapper{
    background-color: yellow;
    margin: 65px 70px;
    height: 600px;
    display: flex;
    flex-direction: column;
}

.heading{
    background-color: tomato;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    margin-left: 333px;
    font-weight: bold;
    height: 50px;
    font-size: 1.7rem;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 5px;
}

.paragraph1{
    background-color: turquoise;
    margin-left: 80px;
    width: 800px;
    font-size: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.paragraph2{
    background-color: turquoise;
    margin-left: 80px;
    width: 800px;
    font-size: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.prices{
    display: flex;
    justify-content: center;
    align-items: center;
}

.personal{
    background-color: white;
    margin-right: 10px;
    width: 300px;
    height: 525px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.prices_heading{
    /* background-color: yellowgreen; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    font-weight: bold;
    font-size: 0.8rem;
    margin-bottom: 20px;
}

.prices_price{
    display: flex;
    /* background-color: yellowgreen; */
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
    border-bottom: 3px solid #f1f1f6;
    margin: 0 25px;
}

.dollar{
    font-weight:500;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    margin-right: 2px;
    margin-top: 5px;
}

.number{
    font-size: 2.5rem;
    /* margin-top: 5px; */
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.info1{
    /* background-color: yellowgreen; */
    padding: 10px 0;
    margin: 0 25px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
    
}

.info{
    /* background-color: yellowgreen; */
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    margin: 0 25px;
    font-size: 12px;
    font-weight: bold;
}

.info2{
    /* background-color: yellowgreen; */
    padding: 10px 0;
    margin: 0 25px;
    padding-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
    border-bottom: 3px solid #f1f1f6;
}

.trial{
    /* background-color: yellowgreen; */
    padding: 10px 0;
    margin: 0 25px;
    padding: 25px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
}

.getStarted{
    border: 3px solid #7f6aa9;
    margin: 0 25px;
    border-radius: 50px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    background-color: white;
    color: #7f6aa9;
}

.personal:hover{
    background-color: #7f6aa9;
    color: white;
}

.getStarted:hover{
    cursor: pointer;
}