*{
    box-sizing: border-box;
    padding: 0;
}

body{
    background-color: #00000066;
}

.wrapper{
    width: 60%;
    height: 90vh;
    margin: 3% auto;
    background-color: white;
    border-radius: 30px;
}

.row-two{
    font-size: 2rem;
    font-weight: 600;
    background-color: yellow;
    margin: 15px 5%;
}

.row-three{
    background-color: yellow;
    margin: 7% 5%;
    width: 100%;
}

.row-three input[type="text"]{
    width: 100%;
}
