*{
    box-sizing: border-box;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

body{
    background-image: url('bg.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100% 50%;
}

.wrapper{
    /* background-color: yellow; */
    width: 60%;
    height: 125vh;
    margin: 5% 20%;
}

.icons{
    /* background-color: tomato; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}

.icon{
    margin-left: 25px;
    margin-right: 25px;
    color: grey;
    cursor: pointer;
}

.folder{
    color: white;
}

.icon:hover{
    color: white;
}

.main-container{
    background-color: white;
    margin-bottom: 50px;
    height: 120vh;
    display: flex;
    box-shadow: -2px 9px 13px 6px rgba(110,104,104,0.35);
    -webkit-box-shadow: -2px 9px 13px 6px rgba(110,104,104,0.35);
    -moz-box-shadow: -2px 9px 13px 6px rgba(110,104,104,0.35);
}

.work-container{
    margin: 7% 5% 5% 5%;
    /* background-color: wheat; */
    width: 90%;
    
}

.arrow-up{
    position: relative;
    left: 42%;
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 25px solid white;
    font-size: 0;
    line-height: 0;
}

.heading{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 30px;
}

.data{
    /* background-color: turquoise; */
    font-size: 1.25rem;
    line-height: 30px;
    margin-bottom: 30px;
}

.row1,.row2,.row3,.row4{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 23px;
}
